body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

p:nth-of-type(even) {
  color: red;
}

p:nth-of-type(odd) {
  color: green;
}